<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Famms</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
<section class="navigation-section">
    <div class="navigation-section-container">
        <nav class="navigation">

        </nav>
    </div>
</section>
{% block content %}

{% endblock %}
</body>
</html>